@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/************************* Default Mobile**************************/
body {
    margin: 0px 00px 0px 0px;
    background-color: #ffffff;
}

head {
    margin: 0px;
}

h1, h2, p {
    font-family: 'Montserrat', Arial, sans-serif;
}

/* ----------------Navigation ---------------------*/

.active {
    color: #ee3b33;
}

a:hover {
    color: #ff7231;
    transition: color .3s;
    transition-timing-function: ease;
}

/* a {
    color: #00c4cc;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    transition: color .3s;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
} */

a {
    text-decoration: none;
    color: #ee3b33;
}

.container {
    width: 100%;
    margin: auto;
}

.header {
    background-color: rgb(224, 237, 255);
}

ul {
    padding-left:  0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: center;
    box-shadow: 0px 2px 5px grey;
}

li {
    padding: 0px 0px 7px 0px;  
    /* background-color: mistyrose;  */
    font-size: 18px;
    border-bottom: solid 2px grey;
}

li a {
    text-decoration: none;
    color: black;
}

ul :last-child {
    border-bottom: none;
    padding: 0px 0px 0px 0px;
} 

li#home {
    order: 0;
}

#myLinks {
    display: none;
    background-color: rgb(224, 237, 255);
    color: black;
    height: 155px;
    width: 100%;
    margin: 5px 0px 0px 0px;
}

ul img {
    display: none;
}

#mobileHeader {
    float: left;
    width: 100%;
}

#mobileHeader img{
    width: 100%;
    background-color: rgb(224, 237, 255);
    
}

#navParent {
    position: relative;
}

/* -----------------------Navigation 2----------- */
.header2 {
    display: none;
}


/* Hamburger Menu */
#hamMenu {
    float: right;
}

.clearFix {
    clear: both;
}

/* -----------Hero Section of Homepage---------- */
.heroImg img {
    width: 100%;
}

.heroText {
    width: 185px;
    position: absolute;
    margin: -30% 0% 0% 6%;
    text-shadow: 0px 2px 2px black;
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: left;
    color: white;
    font-size: 30px;
}

.heroSpace {
    height: 0px;
}

.problem {
    color: black;
    font-size: 14px;
    font-family: 'Montserrat', Arial, sans-serif;
    display: block;
    font-weight: 600;
}

.problem p {
    padding: 40px 25px 40px 25px;
}


/* home picture grid */
.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 

.categories div {
    width: 100%;
}

.categories img{
    width: 100%;
    
}

.categories h2 {
    padding: 20px 25px 5px 25px;
    margin: 0px;
    font-size: 24px;
}

.categories p {
    font-size: 14px;
    padding: 5px 25px 40px 25px;
    margin: 0px;
}

/* main home body */
.main1 {
    display: flex;
    flex-direction: column;
}

/* footer */
.footer {
    background-color: black;
    padding: 15px;
    color: white;
}

.footerAddress {
    font-size: 12px;
}

/* Hero adjustment for midway screen */
@media (min-width: 572px) {
    .heroText {
        font-size: 45px;
        width: 275px;
    }

    .problem p {
        font-size: 18px;
    }

    .categories p {
        font-size: 18px;
    }

    .categories h2 {
        font-size: 28px;
    }
}

/******************************** Beginning of Tablet************************ */
@media (min-width: 768px){

    

    .header {
        display: none;
    }

    .header2 {
        display: block;
    }

    #myLinks2 {
        display: flex;
        background-color: rgb(224, 237, 255);
        color: black;
        height: 75px;
        width: 100%;
        margin: 0px 0px 0px 0px;
        font-family: 'Montserrat', Arial, sans-serif;
    }

    #hamMenu {
        display: none;
    }

    ul {
        padding-left:  0px;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: center; */
        text-align: center;
        box-shadow: 0px 2px 5px grey;
    }
    
    li {
        padding: 20px 0px 10px 0px;  
        /* background-color: mistyrose;  */
        font-size: 24px;
        border-bottom: none;
    }
    
    li a {
        text-decoration: none;
        color: black;
    }
    
    ul :first-child {
        border-bottom: none;
        padding: 0px 0px 0px 0px;
    } 

    ul :first-child img{
        padding: 0px 0px 0px 0px;
    } 
    
    ul :last-child {
        border-bottom: none;
        padding: 20px 0px 10px 0px;
    } 

    li#home {
        order: 0;
    }
    
    ul img {
        height: 75px;
        display: flex;
    }
    
    .clearFix {
        clear: both;
    }
    
    /* -----------Hero Section of Homepage---------- */
    .heroImg img {
        width: 100%;
    }
    
    .heroText {
        width: 275px;
        position: absolute;
        margin: -27% 0% 0% 6%;
        text-shadow: 0px 2px 2px black;
        font-family: 'Montserrat', Arial, sans-serif;
        text-align: left;
        color: white;
        font-size: 45px;
    }
    
    .heroSpace {
        height: 0px;
    }
    
    .problem {
        color: black;
        font-size: 14px;
        font-family: 'Montserrat', Arial, sans-serif;
        margin: 60px 50px 60px 50px;
        display: block;
    }

    .problem p {
        font-size: 18px;
    }

    /* home picture grid */
    .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 

    .categories div {
        width: 33.3333333%;
    }

    .categories img{
        width: 100%;
        
    }
    
    /* main home body */
    .main1 {
        display: flex;
        flex-direction: column;
    }

}   

