@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/************************* Default Mobile**************************/
body {
    margin: 0px 00px 0px 0px;
    background-color: #ffffff;
}

.blogImages img {
    width: 100%;
}

.fadein-text {
    padding: 0px 15px 0px 15px;
}


head {
    margin: 0px;
}

h1, h2, p {
    font-family: 'Montserrat', Arial, sans-serif;
}

/* ----------------Navigation ---------------------*/

.active {
    color: #ee3b33;
}

a:hover {
    color: #00c4cc;
    transition: color .3s;
    transition-timing-function: ease;
}

a:hover img {
    opacity: .8;
    transition: .3s;
}

/* a {
    color: #00c4cc;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    transition: color .3s;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
} */

a {
    text-decoration: none;
    color: #ee3b33;
}

.container {
    width: 100%;
    margin: auto;
    box-shadow: 0px 2px 5px grey;
}


ul {
    padding-left:  0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: center;
    box-shadow: 0px 2px 5px grey;
}



li {
    padding: 0px 0px 7px 0px;  
    /* background-color: mistyrose;  */
    font-size: 18px;
    border-bottom: solid 2px grey;
    font-family: 'Montserrat', Arial, sans-serif;
}

li a {
    text-decoration: none;
    color: black;
}

ul :last-child {
    border-bottom: none;
    padding: 0px 0px 0px 0px;
} 

li#home {
    order: 0;
}

#myLinks {
    display: none;
    background-color: rgb(224, 237, 255);
    color: black;
    height: 155px;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

ul img {
    display: none;
}

#mobileHeader {
    float: left;
    width: 100%;
}

#mobileHeader img{
    width: 100%;
    background-color: rgb(224, 237, 255);
    
}

#navParent {
    position: relative;
    background-color: white;
}

/* -----------------------Navigation 2----------- */
.header2 {
    display: none;
}


/* Hamburger Menu */
#hamMenu {
    float: right;
}

.clearFix {
    clear: both;
}

/* -----------Hero Section of Homepage---------- */
.heroImg img {
    width: 100%;
    text-align: center;
}

.heroText {
    width: 185px;
    position: absolute;
    margin: -30% 0% 0% 6%;
    text-shadow: 0px 2px 2px black;
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: left;
    color: white;
    font-size: 25px;
}

.heroSpace {
    height: 0px;
}

.problem {
    color: black;
    font-size: 14px;
    font-family: 'Montserrat', Arial, sans-serif;
    display: block;
    font-weight: 600;
}

.problem p {
    padding: 0px 25px 40px 25px;
    line-height: 24px;
}

#homeProblem {
    padding: 40px 25px 40px 25px;
}

/* home picture grid */
.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 

/* donation ////////////////////////////////////////////////////*/
.headers-box {
    background-color: rgba(1, 147, 160, 0.555);
    padding: 1px;
    margin-top: -205px;
    margin-left: 90px;
    width: 280px;
    height: 280px;
    display: block;
    border-radius: 50%;
}

.all-headers {
    color: #ffffff;
    font-size: 29px;
    text-align: center;
    margin-top: 94px;
    line-height: 44px;
    padding: 0px 35px;

}

#img5 img{
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.buttons-donate h4 {
    font-size: 22px;
    color: #0193A0;
    margin: 30px;
}


.buttons-donate {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 240px;
    padding: 10px 10px;
    letter-spacing: 1.3px;

}

.btn-donate {
    margin: 30px 0px 0px;
    padding: 15px 25px;
    line-height: 19px;
    color: #ffffff;
    font-size: 22px;

}

.buttons-donate button {
    background-color: #FF8811;
    border-bottom: 4px solid #0193A0;
    border-right: 3px solid #0193A0;
    width: 70%;
}


.btn-donate p{
    color: #F5F5F5;

}

.shown {
    display: block;
    display: block;
}

.donation-container 
.donation-container2 {
	height: 1000px;
	font-weight: 500;
	font-size: 25px;
    margin-top: 35px;
    display: block;
}



.donation-box {
    width: 260px;
    min-height: 1192px;
    margin-top: 45px;
    margin-bottom: 178px;
    padding: 20px;
	background-color: #e0edff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

#donation2 {
    min-height: 1400px;
}


.donation-box .donate-button {
    background-color: #ee3b33;
    margin: center;
	width: 150px;
	color: white;
    text-align: center;
    padding: 15px 10px;
	font-size: 22px;
	bottom: 0px;
	position: absolute;
	cursor: pointer;
    font-weight: 800;
    
    margin-left: 15%;
    margin-bottom: 20px;
}

.donation-box .fields {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.donation-box .fields input {
	font-size: 20px;
	padding: 10px;
	border-radius: 4px;
	border-width: 0px;
	color: #5C5C5C;

	font-weight: 500;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
   color: #cdcdcd;
   font-size: 15px;
}


:-ms-input-placeholder {  
   color: #cdcdcd;
   font-size: 15px;
}

.donation-box .amount {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.donation-box .amount .button {
    width: 42%;
    margin: 0px 10px;
	background-color: gray;
	margin-bottom: 40px;
	text-align: center;
	color: white;
	padding: 15px 0px 15px 0px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	
	-webkit-transition: 400ms background-color;
	-moz-transition: 800ms opacity, 800ms right;
	-ms-transition: 800ms opacity, 800ms right;
	-o-transition: 800ms opacity, 800ms right;
	transition: 200ms background-color;
}

.donation-box .amount .button:hover {
	background-color: #393939;
}

.donation-box .amount .button.selected {
	background-color: #393939;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed white;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.set-amount {
	max-width: 81px;
}

.fields label {
    margin-bottom: 10px;
}

.switch {
    position: relative;
    background: white;
    border-radius: 3px;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 49%;
    line-height: 26px;
    font-size: 13px;
    color: #5C5C5C;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}
.switch-input:checked + .switch-label {
    font-weight: bold;
    color: #ffffff;
    
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 51%;
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 49%;
    height: 22px;
    background: #0193A0;
    border-radius: 3px;
    background-color: #0193A0;
    
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.checkboxes {
    margin-top: 60px;
    text-transform: uppercase;
}

.checkboxes label {
	position: relative;
	top: -8px;
	font-size: 13px;
	color: gray;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #e0edff;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    outline: none;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}


.checkbox:checked {
	background-color: #0193A0;
	border: 1px solid #0193A0;
	color: white;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: white;
}

.confirm {
	display: none;
	position: absolute;
	top: 335px;
	left: 15px;
	right: 15px;
	font-size: 16px;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.confirm i {
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
}
/* donation ////////////////////////////////////////////////////*/

/* .categories div {
    width: 100%;
} */

.categories img{
    width: 100%;
}

.categoriesText {
    margin: 0px 20px 0px 20px;
    text-align: center;
}

.categories h2 {
    padding: 20px 0px 5px 0px;
    margin: 0px;
    font-size: 24px;
}

.categories p {
    font-size: 14px;
    padding: 5px 0px 40px 0px;
    margin: 0px;
}

.categoriesTextAbout {
    text-align: left;
    padding: 0px 25px 40px 25px;
    line-height: 24px;
}

/* main home body */
.main1 {
    display: flex;
    flex-direction: column;
}

.aboutMission {
    padding: 40px 25px 0px 25px;
    font-size: 24px;
    text-align: center;
}

/* footer */
.footer {
    background-color: black;
    padding: 15px;
    color: white;
}

.footerAddress {
    font-size: 12px;
}

.socialMedia img {
    max-height: 50px;
}

.bottomLinks a {
    color: white;
}

.bottomLinks :hover{
    color: #00c4cc;
}

/* blog area */

.blogImgGrid {
    display: flex;
    flex-direction: column;
}

/* Hero adjustment for midway screen */
@media (min-width: 572px) {
    .heroText {
        font-size: 38px;
        width: 275px;
    }

    .aboutMission {
        padding: 40px 25px 0px 25px;
        font-size: 36px;
    }

    .problem p {
        font-size: 18px;
        line-height: 35px;
        padding: 0px 25px 40px 25px;
    }

    .categories p {
        font-size: 18px;
    }

    .categories h2 {
        font-size: 28px;
        line-height: 36px;
        margin: 0px 0px 15px 0px;

}

/******************************** Beginning of Tablet************************ */
@media (min-width: 768px){

    .donation-box {
        width: 565px;
        min-height: 1192px;
        margin-top: 45px;
        margin-bottom: 178px;
        padding: 20px;
        background-color: #e0edff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        -o-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
    }

    .donation-box .donate-button {
        background-color: #ee3b33;
        margin: center;
        width: 360px;
        color: white;
        text-align: center;
        padding: 15px 10px;
        font-size: 22px;
        bottom: 0px;
        position: absolute;
        cursor: pointer;
        font-weight: 800;
        
        margin-left: 15%;
        margin-bottom: 20px;
    }

    /* blog site */
    .blogImgGrid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .blogImages {
        width: 33.3333333%;
        position: relative;
    }

    .fadein-text{
        /* transition: .5s ease; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;  
        color: #ee3b33;  
    }

    .fadein-text h1,p {
        text-shadow: 0px 2px 5px grey;
    }

    .fadein-text:hover{
        opacity: 1;
    }

    .fadeout-img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .fadeout-img:hover {
        opacity: 0.1;
    }

    .blogImages img {
        width: 100%;
    }

    .header {
        display: none;
    }

    .header2 {
        display: block;
    }

    #myLinks2 {
        display: flex;
        background-color: rgb(224, 237, 255);
        color: black;
        height: 75px;
        width: 100%;
        margin: 0px 0px 0px 0px;
        font-family: 'Montserrat', Arial, sans-serif;
    }

    #hamMenu {
        display: none;
    }

    ul {
        padding-left:  0px;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: center; */
        text-align: center;
        box-shadow: 0px 2px 5px grey;
    }
    
    li {
        padding: 20px 0px 10px 0px;  
        /* background-color: mistyrose;  */
        font-size: 24px;
        border-bottom: none;
    }
    
    li a {
        text-decoration: none;
        color: black;
    }
    
    ul :first-child {
        border-bottom: none;
        padding: 0px 0px 0px 0px;
    } 

    ul :first-child img{
        padding: 0px 0px 0px 0px;
    } 
    
    ul :last-child {
        border-bottom: none;
        padding: 20px 0px 10px 0px;
    } 

    li#home {
        order: 0;
    }
    
    ul img {
        height: 75px;
        display: flex;
    }
    
    .clearFix {
        clear: both;
    }
    
    /* -----------Hero Section of Homepage---------- */
    .heroImg img {
        width: 100%;
    }
    
    .heroText {
        width: 275px;
        position: absolute;
        margin: -27% 0% 0% 6%;
        text-shadow: 0px 2px 2px black;
        font-family: 'Montserrat', Arial, sans-serif;
        text-align: left;
        color: white;
        font-size: 45PX;
    }
    
    .heroSpace {
        height: 0px;
    }
    
    .problem {
        color: black;
        font-size: 14px;
        font-family: 'Montserrat', Arial, sans-serif;
        margin: 60px 50px 60px 50px;
        display: block;
    }

    .aboutMission {
        padding: 0px 25px 0px 25px;
        font-size: 36px;
        text-align: center;
    }

    .problem p {
        font-size: 18px;
        padding: 0px 25px 40px 25px;
    }

    /* home picture grid */
    .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 

    .categories div {
        width: 100%;
    }

    .categories div {
        margin: 10px 30px 10px 30px;
    }

    .categoriesText {
        text-align: center;
    }

    .categoriesTextAbout {
        text-align: left;
    }

    .categoriesTextAbout {
        background-color: rgb(224, 237, 255);
    }

    .categories div:first-child {
        margin: 10px 30px 10px 60px;
    }

    .categories div div:first-child {
        margin: 0px 0px 0px 0px;
    }

    .categories div:last-child {
        margin: 10px 60px 10px 30px;
    }

    .categories div div:last-child {
        margin: 10px 0px 0px 0px;
    }

    .categories img{
        width: 100%;
        border-radius: 50%;
    }

    /* about Page categories set up */

    .categoriesAbout {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 

    .steps {
        width:100%;
        margin: 10px;
    }

    .categoriesText {
        text-align: center;
    }

    .categoriesTextAbout {
        text-align: left;
        margin: 10px 0px 0px 0px;
    }

    .categoriesTextAbout h2{
        padding: 20px 0px 0px 0px;
    }

    .categoriesTextAbout {
        background-color: rgb(224, 237, 255);
    }

    .categoriesAbout img{
        width: 100%;
        border-radius: 50%;
    }
    
    /* main home body */
    .main1 {
        display: flex;
        flex-direction: column;
    }

    /* footer */
    .footer {
        background-color: black;
        padding: 15px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footerAddress {
        font-size: 12px;
    }

    .socialMedia img {
        max-height: 50px;
    }

    .bottomLinks a {
        color: white;
    }

    .bottomLinks :hover{
        color: #00c4cc;
    }

}   

@media (min-width: 1080px){
    .container {
        max-width: 1080px;
        margin: auto;
    }

    .heroText {
        width: 275px;
        position: absolute;
        margin: -292px 0% 0% 6%;
        text-shadow: 0px 2px 2px black;
        font-family: 'Montserrat', Arial, sans-serif;
        text-align: left;
        color: white;
        font-size: 45PX;
    }
}
}
