@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/************************* Default Mobile**************************/
body {
    margin: 0px;
    background-color: #ffffff;
}

/* ----------------Navigation ---------------------*/

.container {
    width: 100%;
    margin: auto;
}

.header {
    background-color: rgb(224, 237, 255);
}

ul {
    padding-left:  0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: center;
    box-shadow: 0px 2px 5px grey;
}

li {
    padding: 0px 0px 7px 0px;  
    /* background-color: mistyrose;  */
    font-size: 18px;
    border-bottom: solid 2px grey;
}

li a {
    text-decoration: none;
    color: #ee3b33;
}

ul :last-child {
    border-bottom: none;
    padding: 0px 0px 0px 0px;
} 

li#home {
    order: 0;
}

#myLinks {
    display: none;
    background-color: lightskyblue;
    color: brown;
    height: 155px;
    width: 100%;
    margin: 5px 0px 0px 0px;
}

ul img {
    display: none;
}

#mobileHeader {
    float: left;
    width: 75%;
}

#mobileHeader img{
    width: 100%;
    background-color: rgb(224, 237, 255);
    
}

#navParent {
    position: relative;
}

/* -----------------------Navigation 2----------- */
.header2 {
    display: none;
}


/* Hamburger Menu */
#hamMenu {
    float: right;
}

.clearFix {
    clear: both;
}

/* -----------Hero Section of Homepage---------- */
.heroImg img {
    width: 100%;
}

.heroText {
    width: 50%;
    position: absolute;
    margin: -30% 0% 0% 6%;
    text-shadow: 0px 2px 2px black;
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: left;
    color: white;
    font-size: 30px;
}

.heroSpace {
    height: 0px;
}

.problem {
    color: black;
    font-size: 14px;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 20px 15px 0px 15px;
    display: block;
    font-weight: 600;
}

/* Hero adjustment for midway screen */
@media (min-width: 572px) {
    .heroText {
        font-size: 45px;
    }
}

/* main home body */
.main1 {
    display: flex;
    flex-direction: column;
}

/* footer */
footer h2 {
    background-color: lightskyblue;
    padding: 15px;
}

/******************************** Beginning of Tablet************************ */
@media (min-width: 768px){

    .header {
        display: none;
    }

    .header2 {
        display: block;
    }

    #myLinks2 {
        display: flex;
        background-color: rgb(224, 237, 255);
        color: brown;
        height: 55px;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }

    #hamMenu {
        display: none;
    }

    ul {
        padding-left:  0px;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* align-items: center; */
        text-align: center;
        box-shadow: 0px 2px 5px grey;
    }
    
    li {
        padding: 17px 0px 10px 0px;  
        /* background-color: mistyrose;  */
        font-size: 18px;
        border-bottom: none;
    }
    
    li a {
        text-decoration: none;
        color: #ee3b33;
    }
    
    ul :first-child {
        border-bottom: none;
        padding: 0px 0px 0px 0px;
    } 

    ul :first-child img{
        padding: 0px 0px 0px 0px;
    } 
    
    ul :last-child {
        border-bottom: none;
        padding: 17px 0px 10px 0px;
    } 

    li#home {
        order: 0;
    }
    
    ul img {
        height: 55px;
        display: flex;
    }
    
    /* #mobileHeader {
        float: left;
        width: 75%;
    }
    
    #mobileHeader img{
        width: 100%;
        background-color: white;
        
    }
    
    #navParent {
        position: relative;
    } */
    
    .clearFix {
        clear: both;
    }
    
    /* -----------Hero Section of Homepage---------- */
    .heroImg img {
        width: 100%;
    }
    
    .heroText {
        width: 50%;
        position: absolute;
        margin: -30% 0% 0% 6%;
        text-shadow: 0px 2px 2px black;
        font-family: 'Montserrat', Arial, sans-serif;
        text-align: left;
        color: white;
        font-size: 30px;
    }
    
    .heroSpace {
        height: 0px;
    }
    
    .problem {
        color: black;
        font-size: 14px;
        font-family: 'Montserrat', Arial, sans-serif;
        margin: 20px 15px 0px 15px;
        display: block;
    }
    
    /* main home body */
    .main1 {
        display: flex;
        flex-direction: column;
    }

}   

