@import url('https://fonts.googleapis.com/css?family=Cinzel|Reenie+Beanie');

p {
    font-family: 'Reenie Beanie', cursive;
}

/*beginning of nav bar*/
.activeLink {
    background-color: rgb(168, 166, 35);
}

nav.navBar {
    background-color: silver;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 25px 0px;
}

nav.navBar ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}

nav.navBar a {
    font-size: 24px;
    text-decoration: none;
    line-height: 36px;
    font-family: 'Cinzel', serif;
    color: black;
}

/*beginning of container*/
.container {
    background-color: oldlace;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightskyblue;
}

.yellow {
    background-color: lightgoldenrodyellow;
}

.cyan {
    background-color: darkturquoise;
}

.purple {
    background-color: plum;
}

.floaterSection {
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.clearfix {
    clear: both;
}

/***********************SMALL SCREEN*****************************/
@media (min-width: 450px) {
    
    .small-width-25 {
        width: 25%;
    }

    .small-width-33 {
        width: 33.3333%;
    }

    .small-width-50 {
        width: 50%;
    }

    .small-width-100 {
        width: 100%;
    }

    /*beginning of nav bar*/
    .activeLink {
        background-color: white;
    }

    nav.navBar {
        background-color: silver;
        width: 100%;
        padding: 0px;
        margin: 0px 0px 25px 0px;
    }

    nav.navBar ul {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        text-align: center;
    }

    nav.navBar a {
        font-size: 24px;
        text-decoration: none;
        line-height: 36px;
        font-family: 'Cinzel', serif;
        color: black;
    }

    /*nav bar*/
    nav.navBar li {
        display: inline-block;
        width: 24.2%;
    }

}

/****************MEDIUM SCREENS************************/
@media (min-width: 768px) {
    
    .med-width-25 {
        width: 25%;
    }

    .med-width-33 {
        width: 33.3333%;
    }
    
    .med-width-50 {
        width: 50%;
    }

    .med-width-100 {
        width: 100%;
    }

    /*beginning of nav bar*/
    .activeLink {
        background-color: white;
    }

    nav.navBar {
        background-color: silver;
        width: 100%;
        padding: 0px;
        margin: 0px 0px 25px 0px;
    }

    nav.navBar ul {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        text-align: center;
    }

    nav.navBar a {
        font-size: 24px;
        text-decoration: none;
        line-height: 36px;
        font-family: 'Cinzel', serif;
        color: black;
    }

    /*nav bar*/
    nav.navBar li {
        display: inline-block;
        width: 24.6%;
    }

    
}

/*************************LARGE SCREENS*********************/
@media (min-width: 992px)  {
    
    .large-width-25 {
        width: 25%;
    }

    .large-width-33 {
        width: 33.3333%;
    }
    
    .large-width-50 {
        width: 50%;
    }

    .large-width-100 {
        width: 100%;
    }
    /*beginning of nav bar*/

    nav.navBar {
        background-color: silver;
        width: 100%;
        padding: 0px;
        margin: 0px 0px 25px 0px;
    }

    nav.navBar ul {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        text-align: center;
    }

    nav.navBar a {
        font-size: 24px;
        text-decoration: none;
        line-height: 36px;
        font-family: 'Cinzel', serif;
        color: black;
    }

    nav.navBar a:hover {
        color: rgb(168, 166, 35);
    }

    .activeLink {
        background-color: white;
    }

    /*nav bar*/
    nav.navBar li {
        display: inline-block;
        width: 24%;
    }
}