@import url('https://fonts.googleapis.com/css?family=Cabin|Open+Sans');
/* Default settings mobile********************************/
body{
    margin: 0px;
}

h1 {
    font-family: 'Cabin';
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.images {
text-align: center;
margin: 10px;
}

.titleImg {
    text-align: center;
    margin: auto;
}

img {
    width: 100%;
}

.container {
    max-width: 375px;
    min-width: 375px;
    height: 2300px;
}

.container1 {
    max-width: 375px;
    min-width: 375px;
    height: 750px;
}

.container2 {
    max-width: 375px;
    min-width: 375px;
    height: 3150px;
}

/*navigation bar*/
nav.navBar {
    background-color: black;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 25px 0px;
}

nav.navBar ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}

nav.navBar li {
    border-bottom: 2px solid rgb(219, 219, 219);
}

nav.navBar li:last-child {
    border-bottom: none;
    padding-bottom: 5px;
}

nav.navBar a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    line-height: 36px;
    font-family: 'Open Sans';
}

.activeLink {
    background-color: rgb(128, 134, 136);
}

/***************************************************************************************************************            beginning of tablet                      ***************************************************************************************************************************************************/
@media (min-width: 768px) {

    .container {
        max-width: 768px;
        min-width: 768px;
        height: 2200px;
    }

    .container1 {
        max-width: 768px;
        min-width: 768px;
        height: 600px;
    }

    .container2 {
        max-width: 768px;
        min-width: 768px;
        height: 2600px;
    }

    /*navigation bar*/
    nav.navBar a {
        font-size: 24px;
        padding: 0px 65px 0px 65px;
        text-decoration: none;
        color: white;
        line-height: 60px;
        font-family: 'Open Sans';
    }

    nav.navBar li {
        display: inline-block;
    }

    nav.navBar li {
        border-bottom: none;
    }

    nav.navBar li:last-child {
        border-bottom: none;
        padding-bottom: 0px;
    }

    .activeLink {
        background-color: none;
    }




}

/*****************************************************************************************************************            beginning of desktop   ***************************************************************************************************/
@media (min-width: 992px) {

    .container {
        max-width: 992px;
        min-width: 992px;
        height: 2300px;
    }

    .container1 {
        max-width: 992px;
        min-width: 992px;
        height: 600px;
    }
    
    .container2 {
        max-width: 992px;
        min-width: 992px;
        height: 2000px;
    }


}