.red {
    background-color: black;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightskyblue;
}

.yellow {
    background-color: black;
    min-height: 400px;
}

.cyan {
    min-height: 325px;
}

.purple {
    min-height: 326px;
}



.pink img {
    width: 100%;
    border-radius: 50%;
}

.main-h1 {
    font-size: 45px;
    color: rgb(94, 3, 3);
    text-shadow: 1px 1px rgb(80, 69, 69);
}


/* Vertical Multiple Lines */
.main-p {
    font-size: 24px;
    color: white;
}

.vert-mult-lines {
    display: table;
}

.vert-mult-lines .main-p{
    display: table-cell;
    vertical-align: middle;
    padding: 0px 51px;
}

/*Verticle Unknown Block */
.relative {
    height: 285px;
    margin: 20px 20px 20px 0px;
    position: relative;
}

.cyan img{
    width: 100%;
}

.vert-block {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    background: black;
    color: white;
    transform: translateY(-49%);
}

/*Verticle Horizontal for known Block */

.relative2 {
    position: relative;
}


#v-h1 img{
position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    margin-top: 50px;
    height: 300px;
}

/* Vertical Horizontal for Unknown Block*/

#v-h2 {
    height: 400px;
}

#v-h2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}