/* Default settings mobile********************************/
@import url('https://fonts.googleapis.com/css?family=Cabin|Open+Sans');
body {
    margin: 0px;
    background-color: rgb(219, 219, 219);
}

.section1 {
    background-color: rgb(69, 113, 124);
    max-width: 375px;
    min-height: 300px;
    margin: auto;
}

.section2 {
    background-color: rgb(69, 113, 124);
    max-width: 375px;
    min-height: 320px;
    margin: auto;
}

.section3 {
    background-color: rgb(69, 113, 124);
    max-width: 375px;
    min-height: 320px;
    margin: auto;
}

.section4 {
    background-color: rgb(69, 113, 124);
    max-width: 375px;
    min-height: 320px;
    margin: auto;
}

.section5 {
    background-color: rgb(69, 113, 124);
    max-width: 375px;
    min-height: 320px;
    margin: auto;
}

.section6 {
    background-color: rgb(69, 113, 124);
    max-width: 375px;
    min-height: 320px;
    margin: auto;
}

/*navigation bar*/
nav.navBar {
    background-color: black;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 25px 0px;
}

nav.navBar ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}

nav.navBar li {
    border-bottom: 2px solid rgb(219, 219, 219);
}

nav.navBar li:last-child {
    border-bottom: none;
    padding-bottom: 5px;
}

nav.navBar a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    line-height: 36px;
    font-family: 'Open Sans';
}

.activeLink {
    background-color: rgb(69, 113, 124);
}

/*contacts hyperlink*/
.contactMe {
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: white;
    line-height: 13px;
    font-family: 'Open Sans';
}

.contactLink a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    line-height: 36px;
    font-family: 'Open Sans';
}

/*header and images*/
.images img {
    width: 100%;
    margin: auto;
}

.imageHeader {
    background-color: rgb(69, 113, 124);
    text-align: center;
    font-size: 36px;
    font-family: 'Cabin';
    padding: 20px 0px 20px 0px;
    margin: 25px auto;
}

.imageHeader1 {
    text-align: center;
    font-size: 36px;
    color: white;
    background-color: black;
    font-family: 'Cabin';
    padding: 20px 0px 20px 0px;
}

.text {
    font-size: 18px;
    margin: 10px 10px 25px 10px;
    padding-bottom: 10px;
    text-align: center;
}

.text2 {
    font-size: 24px;
    margin: 10px 10px 25px 10px;
    padding-top: 25px;
    text-align: center;
}

.textPrice {
    font-size: 24px;
    margin: 10px 10px 25px 10px;
    padding-bottom: 10px;
    text-align: center;
}

/*beginning of tablet****************************************************/
@media (min-width: 768px) {
    
    .grouped {
        max-width: 768px;
        margin: 4px auto;
        padding: 0px;
    }

    .section1 {
        background-color: rgb(69, 113, 124);
        max-width: 382px;
        min-height: 300px;
        margin: auto;
        display: inline-block;
    }

    .section2 {
        background-color: rgb(69, 113, 124);
        max-width: 382px;
        min-height: 300px;
        margin: auto;
        display: inline-block;
    }

    .section3 {
        background-color: rgb(69, 113, 124);
        max-width: 382px;
        min-height: 300px;
        margin: auto;
        display: inline-block;
    }

    .section4 {
        background-color: rgb(69, 113, 124);
        max-width: 382px;
        min-height: 300px;
        margin: auto;
        display: inline-block;
    }

    .section5 {
        background-color: rgb(69, 113, 124);
        max-width: 768px;
        min-height: 300px;
        margin: auto;
    }

    .section6 {
        background-color: rgb(69, 113, 124);
        max-width: 768px;
        min-height: 320px;
        margin: auto;
    }

    /*navigation bar*/
    nav.navBar a {
        font-size: 24px;
        padding: 0px 65px 0px 65px;
        text-decoration: none;
        color: white;
        line-height: 60px;
        font-family: 'Open Sans';
    }

    nav.navBar li {
        display: inline-block;
    }

    nav.navBar li {
        border-bottom: none;
    }

    nav.navBar li:last-child {
        border-bottom: none;
        padding-bottom: 0px;
    }

    .activeLink {
        background-color: none;
    }

    /*header and images*/
    .section5 img {
        background-color: rgb(69, 113, 124);
        max-width: 400px;
        min-height: 300px;
        margin: auto;
        display: block;
    }

    .images img {
        width: 100%;
        margin: auto;
    }

    .imageHeader {
        background-color: rgb(69, 113, 124);
        text-align: center;
        font-size: 36px;
        font-family: 'Cabin';
        padding: 20px 0px 20px 0px;
    }

    .text2 {
        font-size: 24px;
        margin: 10px 10px 25px 10px;
        padding-top: 75px;
        text-align: center;
    }

    .textPrice {
        font-size: 30px;
        margin: 10px 10px 25px 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    /*contacts hyperlink*/
    .contactMe {
        text-align: center;
        font-size: 24px;
        text-decoration: none;
        color: white;
        line-height: 47px;
        font-family: 'Open Sans';
    }

    .contactLink a {
        font-size: 24px;
        text-decoration: none;
        color: white;
        line-height: 36px;
        font-family: 'Open Sans';
    }
}

/*beginning of desktop************************************************/
@media (min-width: 992px) {
    
    .grouped {
        max-width: 992px;
        margin: 4px auto;
        padding: 0px;
    }

    .section1 {
        background-color: rgb(69, 113, 124);
        max-width: 494px;
        min-height: 300px;
        margin: auto;
        display: inline-block;
    }

    .section2 {
        background-color: rgb(69, 113, 124);
        max-width: 494px;
        min-height: 300px;
        margin: auto;
        display: inline-block;
    }

    .section3 {
        background-color: rgb(69, 113, 124);
        max-width: 494px;
        min-height: 300px;
        margin: auto;
        display: inline-block;
    }

    .section4 {
        background-color: rgb(69, 113, 124);
        max-width: 494px;
        min-height: 300px;
        margin: auto;
        display: inline-block;
    }

    .section5 {
        background-color: rgb(69, 113, 124);
        max-width: 992px;
        min-height: 300px;
        margin: auto;
    }

    .section6 {
        background-color: rgb(69, 113, 124);
        max-width: 992px;
        min-height: 320px;
        margin: auto;
    }
}